.generations{
    margin: 20px;
    h1{
        text-align: center;
        font-weight: bold;
    }
    h1{
        font-family: $sarpanch;
    }
    h2{
        font-family: $gameBoy;
        font-size:20px;
        color: #CCCCCC;
    }
    .generation{
        margin: 20px;
        img{
            height: 35px;
            width: 35px;
        }
    }
}