.pokemon{
    margin: 10px;
    padding: 20px;
    // border: 2px solid black;
    // border-radius: 20px;
    width: 230px;
    .type{
        margin: 5px 2px 15px 2px;
        padding: 8px;
        color: white;
    }
    h1{
        font-size: 20px;
    }
    h3{
        svg{
            font-size: 25px;
            color:black;
            margin-left: 10px;
        }
    }
    .image{
        width: 100px;
        height: 100px;
    }
    p{
        font-size: 12px;
    }
}

.pokemon:hover{
    // background-color: black;
    // color: white; 
    // .type{
    //     background-color: white;
    //     color: black !important;
    // }
    h3{
        svg{
            color: white;
        }
    }
}
