@import "./variables"; 
@import "./function";

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    // font-family: $sarpanch;
    font-family: $gameBoy;
}

.flex{
    display: flex;
    &-j-c{
        justify-content: center;
    }
    &-j-s-b{
        justify-content: space-between;
    }
    &-j-f-s{
        justify-content: flex-start;
    }
    &-a-i{
        align-items: center;
    }
    &-f-d-c{
        flex-direction: column;
    }
    &-f-w{
        flex-wrap: wrap;
    }
}

.text-a-c{
    text-align: center;
}


    .bug{
        @include typePokemon($bug)
    }
    .dark{
        @include typePokemon($dark)
    }
    .dragon{
        @include typePokemon($dragon)
    }
    .electric{
        @include typePokemon($electric)
    }
    .fighting{
        @include typePokemon($fighting)
    }
    .fire{
        @include typePokemon($fire)
    }
    .flying{
        @include typePokemon($fly)
    }
    .ghost{
        @include typePokemon($ghost)
    }
    .grass{
        @include typePokemon($grass)
    }
    .ground{
        @include typePokemon($ground)
    }
    .ice{
        @include typePokemon($ice)
    }
    .normal{
        @include typePokemon($normal)
    }
    .poison{
        @include typePokemon($poison)
    }
    .psychic{
        @include typePokemon($psychic)
    }
    .rock{
        @include typePokemon($rock)
    }
    .steel{
        @include typePokemon($steel)
    }
    .water{
        @include typePokemon($water)
    }
