@import "../abstracts/function"; 
@import "../abstracts/variables"; 

// pixel border
@import "../../../node_modules/pixel-borders/src/styles/pixel-borders.scss";
@import "../../../node_modules/pixel-borders/src/styles/pixel-borders/pixel-borders-mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 15px;
    font-family: $gameBoy;
}

.flex{
    display: flex;
    &-j-c{
        justify-content: center;
    }
    &-j-s-b{
        justify-content: space-between;
    }
    &-j-f-s{
        justify-content: flex-start;
    }
    &-a-i{
        align-items: center;
    }
    &-f-d-c{
        flex-direction: column;
    }
    &-f-w{
        flex-wrap: wrap;
    }
}

.text-a-c{
    text-align: center;
}

    .bug{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$bug)
    }
    .dark{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$dark)
    }
    .dragon{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$dragon)
    }
    .electric{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$electric)
    }
    .fighting{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$fighting)
    }
    .fire{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color: $fire);
    }
    .flying{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$fly)
    }
    .ghost{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$ghost)
    }
    .grass{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$grass)
    }
    .ground{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$ground)
    }
    .ice{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$ice)
    }
    .normal{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$normal)
    }
    .poison{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$poison)
    }
    .psychic{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$psychic)
    }
    .rock{
        // @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$rock)
        @include pixel-box($corner-size: 1, $border-size: 1px, $background-color: $rock);
    }      
    .steel{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$steel)
    }
    .water{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$water)
    }
    .fairy{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:$fairy)
    }

    .simple-pixel-border,.simple-pixel-border-with-out-hover{
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:white)
    }
    .simple-pixel-border:hover{
        color: white;
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:#232323);
        .simple-pixel-button{
            color: black;
            @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:white)
        }
    }

    .simple-pixel-button{
        position: absolute;
        z-index: 1;
        color: white;
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:#232323)
    }
    .simple-pixel-button:hover{
        color: #232323;
        @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:white)
    }

    button{
        cursor: pointer;
    }