@import url("//db.onlinewebfonts.com/c/3ada9815c06d2619d52d16a5601c96b2?family=Early+GameBoy");
@import url("https://fonts.googleapis.com/css2?family=Sarpanch&display=swap");
@import url("//db.onlinewebfonts.com/c/3ada9815c06d2619d52d16a5601c96b2?family=Early+GameBoy");
@import url("https://fonts.googleapis.com/css2?family=Sarpanch&display=swap");
@import url("//db.onlinewebfonts.com/c/3ada9815c06d2619d52d16a5601c96b2?family=Early+GameBoy");
@import url("https://fonts.googleapis.com/css2?family=Sarpanch&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  font-size: 15px;
  font-family: "Early GameBoy";
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-j-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-j-s-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-j-f-s {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-a-i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-f-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-f-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-a-c {
  text-align: center;
}

.bug {
  background-color: #9EAC19;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.dark {
  background-color: #46352C;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.dragon {
  background-color: #715DD6;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.electric {
  background-color: #F6B01C;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.fighting {
  background-color: #79341E;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.fire {
  background-color: #DD3409;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.flying {
  background-color: #8495E9;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.ghost {
  background-color: #5858A5;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.grass {
  background-color: #71C035;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.ground {
  background-color: #D0B154;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.ice {
  background-color: #78D7F6;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.normal {
  background-color: #C4C1B9;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.poison {
  background-color: #8E438F;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.psychic {
  background-color: #E7467C;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.rock {
  background-color: #B49D55;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.steel {
  background-color: #B4B4C2;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.water {
  background-color: #2D90F2;
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.generations {
  margin: 20px;
}

.generations h1 {
  text-align: center;
  font-weight: bold;
}

.generations h1, .generations h2 {
  font-family: "Sarpanch", sans-serif;
}

.generations .generation {
  margin: 20px;
}

.generations .generation img {
  height: 35px;
  width: 35px;
}

.nav {
  text-align: center;
  background-color: black;
  height: auto;
  padding: 10px;
}

.nav .icon {
  font-size: 150px;
  color: white;
}

.pokemon {
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  width: 15vw;
}

.pokemon .type {
  margin: 5px 2px 15px 2px;
  padding: 10px;
}

.pokemon h1 {
  font-size: 20px;
}

.pokemon h3 svg {
  font-size: 25px;
  color: black;
  margin-left: 10px;
}

.pokemon .image {
  width: 100px;
  height: 100px;
}

.pokemon p {
  font-size: 10px;
}

.pokemon:hover {
  background-color: black;
  color: white;
}

.pokemon:hover h3 svg {
  color: white;
}

.dropdown-menu {
  height: 40vh;
  width: 100%;
  overflow-y: scroll;
}

.dropdown-item {
  padding: 10px 0px;
}

.dropdown-item h1 {
  font-size: 18px !important;
  color: #6F6F6F;
}

.dropdown-item:hover {
  background-color: black;
}

.dropdown-item:hover h1 {
  color: white;
}

.dropdown-toggle {
  margin: 0px 20px;
  width: 200px;
  background-color: black;
  border-radius: 1px !important;
  border: 1px solid #6F6F6F;
}

.dropdown-toggle:hover {
  color: #6F6F6F;
  background-color: white;
  border: 1px solid #6F6F6F;
}

.sound {
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}

.sound svg {
  padding: 0;
  height: 30px;
  width: 30px;
  color: white;
}

.team {
  border-color: 2px solid black;
  border-radius: 20%;
}
/*# sourceMappingURL=index.css.map */