// @import '../../';

.nav{
    text-align: center;
    background-color: black;
    height: 10vh;
    padding: 0px 5vh;
    .sound{
        background-color: black;
        border-color: none;
        
    }
    .icon,.sound{
        font-size: 10vh;
        color: white;
    }
}

