.dropdown-menu {
    height: 40vh;
    width: 100%;
    overflow-y: scroll;
}

.dropdown-item{
  padding: 10px 0px;
    h1{
      font-size: 18px !important;
      color: $gray;
    }
}

.dropdown-item:hover{
  background-color: black;
  h1{
    color: white;
  }
}

.dropdown-toggle{
  margin:0px 10px;
  width: 200px;
  height: 50px;
  color: white;
  @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:#232323);
}

.dropdown-toggle:hover{
  color: black;
  @include pixel-box($corner-size: 1, $border-size: 4px, $background-color:white)
}

.dropdown-toggle:active{
  box-shadow: none;
}