// @keyframes appear {
// 	0% {
// 		transform: translatey(0px);
// 	}
// 	50% {
// 		transform: translatey(-20px);
// 	}
// 	100% {
// 		transform: translatey(0px);
// 	}
// }

// .background:after {
//     content: ' ';
//     border-top: 100vh solid black;
//     border-right: 100vw solid transparent;
//     width: 0;
//     position: absolute;
//     top: 0;
//     z-index: -1;
// }

// .logo{
//     position: absolute;
//     top: 0;
//     left: 10%;
//     height: auto;
//     width: 30%;
//     color: white;
// }

// .container_pokemon{
//     position: relative;
//     // background-color: aqua;
//     width: 100%;
//     height: 100vh;
//     left: 50%;
//     top: 50%;
//     transform: translateY(-100%);
//     transform: translateX(-50%);
// }

// .container_pokemon-up{
//     position: relative;
//     // background-color: rgb(78, 76, 76);
//     height: 50vh;
//     width: 50%;
//     transform: translateX(100%);
// }


// .eevee,.gengar,.charmander{
//     position: absolute;
//     z-index: 1;
//     height: auto;
// }

// .charmander{
//     // width: 650px;
//     width: 35%;
//     bottom: 0;
// }

// .gengar{
//     // width: 250px;
//     width: 20vw;
//     right: 0;
//     bottom: -20%;
//     left: 20%;
//     opacity: 1;
// }

// .eevee{
//     width: 10vw;
//     right: 0;
//     bottom: -20%;
//     left: 50%;
//     opacity: 0;
// }

.pokemon-main{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50% !important;
    height: auto;
}

.social{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
    .icon{
        width: 30px;
        height: auto;
        margin-left: 10px;
    }
}

.information{
    position: absolute;
    top: 50%;
    right: 0;
    left: 70%;
    transform: translateY(-50%);
    .simple-pixel-button{
        padding: 30px;
        font-size: 25px;
    }
}

.background{
    position: absolute;
    width: 50vw !important;
    height: 90vh !important;
    background-color: black;
    background-image: url('../../public/img/landing/Group1.png');
    background-size: cover;
}

@media screen and (max-width:800px){
    .background{
        width: 100vw !important;
        height: 70vh !important;
    }
    .pokemon{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80% !important;
    }
}