@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.generations{
    margin: 20px;
    h1{
        text-align: center;
        font-weight: bold;
        font-size:20px;
    }
    h1{
        font-family: $sarpanch;
    }
    h2{
        font-family: $gameBoy;
        font-size:20px;
        color: #CCCCCC;
    }
    .generation{
        margin: 20px;
    }
    .generation:hover{
        cursor: pointer;
        h2{
            color: black;
        }
        .img{
            animation: float 0.4s ease-in-out ;
        }
    }
}
