.sound{
    background-color: transparent;
    border: 1px solid transparent;
    outline:none;
    cursor: pointer;
    // position: absolute;
    // z-index: 2;
    // right: 0;
    // top: 60px;
    svg{
        padding: 0;
        height: 30px;
        width: 30px;
        color: white;
    }
}